<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Add Employee</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>
<body>

    <h2>Add Employee</h2>

    <form action="/addemployee" method="post">

        <input type="text" name="first_name" placeholder="First Name" /><br />

        <input type="text" name="last_name" placeholder="Last Name" /><br />

        <input type="text" name="pps_number" placeholder="PPS Number" /> <br />

        <label for="dob">Date of Birth</label><br />
        <input class="add-date" type="date" name="dob" placeholder="Date of Birth" /> <br />

        <label for="hire_date">Hire Date</label><br />
        <input class="add-date" type="date" name="hire_date" placeholder="Hire Date" /> <br />

        <!--drop down list displaying all job titles currently in the system to allow the user to pick one in line with foerign key constraints-->
        <select name="job_title" placeholder="Job Title">
            {% for title in jobtitles %}
            <option value="{{ title.job_title }}">{{ title.job_title }}</option>
            {% endfor %}
        </select>

        <input type="submit" value="Submit" />

    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}
    {% endwith %}


    <br />

    <a href="/nav">Home</a>
    <a href="/viewemployee">View Employees</a>


</body>


</html>

