<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Add Item</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>
<body>
    <h2>Add Item</h2>

    <form action="{{ request.path }}" method="post">

        <input type="text" name="name" placeholder="Name" /><br />

        <input type="text" name="description" placeholder="Description" /><br />

        <input type="number" min="0" step="any" name="unit_cost" placeholder="Unit Cost" /> <br />

        <input type="number" min="0" step="any" name="sale_price" placeholder="Sale Price" /> <br />

        <input type="number" min="0" step="1" name="units_in_stock" placeholder="Units In Stock" /> <br />

        <label for="expiration_date">Expiration Date</label><br />
        <input class="add-date" type="date" name="expiration_date" placeholder="Expiration Date" /><br />

        <!--drop down list displaying all suppliers currently in the system to allow the user to pick one in line with foerign key constraints-->
        <label for="supplier_id">Supplier ID</label><br />
        <select name="supplier_id" placeholder="Supplier ID">
            <option value="" hidden="hidden">Select ID</option>
            {% for supplier in suppliers %}
            <!--display id AND name for user convenience-->
            <option value="{{ supplier.supplier_id }}">{{ supplier.supplier_id }} {{ supplier.name }}</option>
            {% endfor %}
        </select><br />

        <!--drop down list displaying all categories currently in the system to allow the user to pick one in line with foerign key constraints-->
        <label for="category_id">Category ID</label><br />
        <select name="category_id" placeholder="Category ID">
            <option value="" hidden="hidden">Select ID</option>
            {% for category in categories %}
            <!--display id AND name for user convenience-->
            <option value="{{ category.category_id }}">{{ category.category_id }} {{ category.name }}</option>
            {% endfor %}

        </select><br />

        <input type="submit" value="Submit" />

    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}
    {% endwith %}

    <br />

    <a href="/nav">Home</a>
    <a href="/viewitem">View Items</a>


</body>
</html>
