<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Add Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>
<body>
    <h2>Add TItle</h2>

    <form action="/addtitle" method="post">

        <input type="text" name="job_title" placeholder="Job Title" /><br />

        <input type="text" name="department" placeholder="Department" /><br />

        <input type="text" name="access_level" placeholder="Access Level" /> <br />

        <input type="submit" value="Submit" />

    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}
    {% endwith %}

    <br />

    <a href="/nav">Home</a>
    <a href="/viewtitles">View Titles</a>


</body>
</html>


