<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Select Supplier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>
<body>
    <h2>Select Supplier</h2>

    <form action="/selectsupplier" method="post">

        <label for="supplier_id">Supplier</label><br />
        <select name="supplier_id" placeholder="Supplier">

            <!--drop down list to ensure user eslects valid supplier, options are all suppliers in sytem-->
            {% for supplier in suppliers %}
            <option value="{{ supplier.supplier_id }}">{{ supplier.supplier_id }} {{ supplier.name }}</option>
            {% endfor %}
        </select>

        <input type="submit" name="update" value="Update" />
        <input type="submit" name="delete" value="Delete" />

    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}
    {% endwith %}

    <br />
    <a href="/nav">Home</a>
</body>
</html>