<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Add Category</title>
</head>
<body>
    <h2>Add Category</h2>

    <form action="/addcategory" method="post">

        <label for="name">Name</label><br />
        <input type="text" name="name" placeholder="Name" /><br />

        <label for="description">Description</label><br />
        <input type="text" name="description" placeholder="Description" /> <br />

        <input type="submit" value="Submit" />

    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}
    {% endwith %}
</body>
</html>


