<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Add Employee</title>
</head>
<body>

    <h2>Add Employee Page</h2>

    <form action="/addemployee" method="post">
        <label for="emp_id">Employee ID</label><br />
        <input type="number" name="emp_id" placeholder="Employee ID" /><br />

        <label for="first_name">First Name</label><br />
        <input type="text" name="first_name" placeholder="First Name" /><br />

        <label for="last_name">Last Name</label><br />
        <input type="text" name="last_name" placeholder="Last Name" /><br />

        <label for="pps_number">PPS Number</label><br />
        <input type="text" name="pps_number" placeholder="PPS Number" /> <br />

        <label for="dob">Date of Birth</label><br />
        <input type="date" name="dob" placeholder="Date of Birth" /> <br />

        <label for="hire_date">Hire Date</label><br />
        <input type="date" name="hire_date" placeholder="Hire Date" /> <br />

        <input type="submit" value="Submit" />

    </form>

</body>
</html>

