<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Delete Supplier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>
<body>
    <h2>Remove Supplier from System</h2>

    <h4>Are you sure you want to delete this supplier?</h4>
    <form action="/deletesupplier" method="post">
        <table border="2" cellpadding="5">
            <thead>

                <tr>
                    <th>Supplier ID</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Comments</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <!--readonly line but display the supplier ID for two reasons: 1. user can confirm deleting correct supplier,
                     2. can be passed back to app.route function to correctly find the associated row-->
                    <td>
                        <input type="text" readonly name="supplier_id" value="{{ query.supplier_id  }}" />
                    </td>
                    <td>{{ query.name }}</td>
                    <td>{{ query.phone }}</td>
                    <td>{{ query.email }}</td>
                    <td>{{ query.comments }}</td>
                </tr>
            </tbody>
        </table>

        <input type="submit" name="delete" value="Delete" />
        <input type="submit" name="cancel" value="Cancel" />

    </form>


    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}
    {% endwith %}
</body>
</html>