<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Home</title>
</head>
<body>
    <h2>Welcome to Inventory System</h2>
    <a href="/additem">Add Item</a>
    <a href="/viewitem">View Items</a>
    <a href="/searchitem">Update Item</a>
    <a href="/deleteitem">Delete Item</a>
    <br />
    <br />
    <a href="/addemployee">Add Employee</a>
    <a href="/viewemployee">View Employees</a>
    <a href="/deleteemployee">Delete Employee</a>
</body> 
</html>