<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>
<body>
    <h1>Welcome to The Barre Restaurant</h1>
    <h2>Login</h2>
    <form action="/login" method="post" class="login_form">

        <input class="login_form" type="text" name="username" placeholder="User Name" /><br />

        <input class="login_form" type="text" name="password" placeholder="Password" /><br />

        <input class="login_form" type="submit" value="Login" />

    </form>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>