<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"
</head>
<body>
    <h2>Welcome to Inventory System</h2>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}
    {% endwith %}

    <br />

    <a href="/viewitem">View Items</a>
    <a href="/selectitem">Search Items</a>

    {% if accesslevel >= 2 %}
    <a href="/additem">Add Item</a>
    {% endif %}

    {% if accesslevel >= 2 %}
    <br />
    <br />
    <a href="/viewemployee">View Employees</a>
    {% if accesslevel ==3 %}
    <a href="/addemployee">Add Employee</a>
    <a href="/selectemployee">Edit Employee</a>
    {% endif %}
    {% endif %}


    {% if accesslevel >= 2%}
    <br />
    <br />
    <a href="/viewtitles">View Titles</a>
    {% if accesslevel ==3 %}
    <a href="/addtitle">Add Title</a>
    <a href="/selecttitle">Edit Title</a>
    {% endif %}
    {% endif %}

    {% if accesslevel >= 2%}
    <br />
    <br />
    <a href="/viewemployeetitles">View Employee Titles</a>
    {% endif %}
    <br />
    <br />
    <a href="/viewsuppliers">View Suppliers</a>
    {% if accesslevel >= 2%}
    <a href="/addsupplier">Add Supplier</a>
    <a href="/selectsupplier">Edit Supplier</a>
    {% endif %}
    <br />
    <br />
    <a href="/viewcategories">View Categories</a>
    {% if accesslevel >= 2%}
    <a href="/addcategory">Add Category</a>
    <a href="/selectcategory">Edit Category</a>
    {% endif %}

    {% if accesslevel >= 2%}
    <br />
    <br />
    <a href="/recommendation">View Recommendations</a>
    {% endif %}

    <br />
    <br />
    <a href="/logout">Logout</a>
</body> 
</html> 