<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>
<body>

    <h2>Get Recommendations</h2>

    <form class="recs" action="/recommendation" method="post">
        <label class="recs" for="name">See ideas by ingredient name(s)</label><br />
        <input class="recs" type="text" name="name" placeholder="Name" />
        <input class="recs" type="submit" name="by_name" value="Search" />
        <br />
        <div class="move-down">
            <label class="recs" for="expiration_date">{{ name }} expries next, on {{ date }} </label><br />
            <input class="recs" type="submit" name="by_date" value="See Ideas" />
        </div>


    </form>




    <!--formatting from https://stackoverflow.com/questions/46831044/using-jinja2-templates-to-display-json-->
    {% for cocktail in cocktails %}
    <div class="cocktails">
        <p>Name: {{ cocktail.name }}</p><br />
        Ingredients: <br />
        {% for ingredient in cocktail.ingredients %}
        {{ ingredient }}
        <br />
        {% endfor %}
        <br />
        Instructions: <br />
        {{ cocktail.instructions }}

        <br />
        <br />
    </div>
    {% endfor %}


    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}
    {% endwith %}
</body>
</html>