<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Select Employee</title>
</head>
<body>

    <h2>Select Employee</h2>

    <form action="/selectemployee" method="post">

        <label for="emp_id">Employee</label><br />
        <select name="emp_id" placeholder="Employee">

            {% for emp in employees %}
            <option value="{{ emp.emp_id }}">{{ emp.emp_id }} {{ emp.first_name }} {{ emp.last_name }}</option>
            {% endfor %}
        </select>

        <input type="submit" name="update" value="Update" />
        <input type="submit" name="delete" value="Delete" />
    </form>


    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}
    {% endwith %}


</body>
</html>