<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Select Category</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>
<body>
    <h2>Select Category</h2>

    <form action="/selectcategory" method="post">

        <label for="category_id">Category</label><br />
        <select name="category_id" placeholder="Category">

            <!--drop down list to ensure user eslects valid category, options are all categories in sytem--> 
            {% for category in categories %}
            <option value="{{ category.category_id }}">{{ category.category_id }} {{ category.name }}</option>
            {% endfor %}
        </select>


        <input type="submit" name="update" value="Update" />
        <input type="submit" name="delete" value="Delete" />

    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}
    {% endwith %}


    <br />
    <a href="/nav">Home</a>
</body>
</html>