<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Update Employee</title>
</head>
<body>
    <h3>Update Employee Info</h3>
    <!-- https://stackoverflow.com/questions/5967564/form-inside-a-table#:~:text=You%20can%20have%20a%20form,row%20(allowing%20bulk%20updates).
        source for form & table together-->

    <form action="/updateemployee" method="post">
        <table border="2" cellpadding="5">
            <thead>

                <tr>
                    <th>Employee Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>PPS Number</th>
                    <th>DOB</th>
                    <th>Hire Date</th>
                    <th>Title</th>
                </tr>
            </thead>

            <tbody>
                {% for emp in employee %}
                <tr>
                    <td>
                        <input type="text" readonly name="emp_id" value="{{ emp.emp_id }}" />
                    </td>
                    <td>
                        <input type="text" name="first_name" value="{{ emp.first_name }}" />
                    </td>
                    <td>
                        <input type="text" name="last_name" value="{{ emp.last_name }}" />
                    </td>
                    <td>
                        <input type="text" name="pps_number" value="{{ emp.pps_number }}" />
                    </td>
                    <td>
                        <input type="date" name="dob" value="{{ emp.dob }}" />
                    </td>
                    <td>
                        <input type="date" name="hire_date" value="{{ emp.hire_date }}" />
                    </td>
                    <td>
                        <!--<select name="job_title" placeholder="Job Title">
                            <option value="{{ emp.job_title }}" hidden="hidden">{{ emp.job_title }}</option>
                            {% for title in titles %}
                            <option value="{{ title.job_title }}">{{ title.job_title }}</option>
                            {% endfor %}

                        </select><br />-->



                        <input type="text" readonly name="title" value="{{ emp.job_title }}" />

                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>

        <input type="submit" name="update" value="Update" />

        <input type="submit" name="cancel" value="Cancel" />

    </form>


    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    {{ message }}
    {% endfor %}
    {% endif %}
    {% endwith %}

</body>
</html>