<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>

    <table border="2" cellpadding="5">
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Job Title</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
        </thead>

        <tbody>
            {% for employee in query %}
            <tr>
                <td>{{ employee.emp_title_id }}</td>
                <td>{{ employee.emp_job_title }}</td>
                <td>{{ employee.start_date }}</td>
                <td>{{ employee.end_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</body>
</html>