<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>View Categories</title>
</head>
<body>
    <h3>Categories</h3>

    <table border="2" cellpadding="5">
        <thead>
            <tr>
                <th>Category ID</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>

        <tbody>
            {% for category in query %}
            <tr>
                <td>{{ category.category_id }}</td>
                <td>{{ category.name }}</td>
                <td>{{ category.description }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
</body>
</html>