<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>View Suppliers</title>
</head>
<body>
    <h3>Suppliers</h3>

    <table border="2" cellpadding="5">
        <thead>
            <tr>
                <th>Supplier ID</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Comments</th>
            </tr>
        </thead>

        <tbody>
            {% for supplier in query %}
            <tr>
                <td>{{ supplier.supplier_id }}</td>
                <td>{{ supplier.name }}</td>
                <td>{{ supplier.phone }}</td>
                <td>{{ supplier.email }}</td>
                <td>{{ supplier.comments }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

</body>
</html>