<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>View Employee Titles</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>
<body>
    <h2>Employee Titles</h2>
    <table>
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Job Title</th>
                <th>Start Date</th>
                <th>End Date</th>
            </tr>
        </thead>

        <tbody>
            {% for employee in query %}
            <tr class="view-tables">
                <td>{{ employee.emp_title_id }}</td>
                <td>{{ employee.emp_job_title }}</td>
                <td>{{ employee.start_date }}</td>
                <td>{{ employee.end_date }}</td>
            </trclass="view-tables">
            {% endfor %}
        </tbody>
    </table>


</body>
</html>